<template>
  <div v-if="team">
    <h1>Team</h1>

    <div class="row">
      <card
        v-for="u in team"
        withLink="true"
        :key="u.lastName"
        :user="u"/>
    </div>
  </div>
</template>

<script>
  /**
   * The internal dependencies.
   */
  import { mapGetters } from 'vuex'

  /**
   * The external dependencies.
   */
  import Card from '@/components/Card'

  export default {
    /**
     * The name of the component.
     *
     * @type {String}
     */
    name: 'Team',

    /**
     * The imported components.
     *
     * @type {Object}
     */
    components: {
      Card
    },

    /**
     * The dynamic properties of the component
     *
     * @type {Object}
     */
    computed: {
      ...mapGetters({
        team: 'getTeam'
      })
    }
  }
</script>