<template>
  <div v-if="team">
    <card :user="user(userId)"/>
  </div>
</template>

<script>
  /**
   * The internal dependencies.
   */
  import { mapGetters } from 'vuex';

  /**
   * The external dependencies.
   */
  import Card from '@/components/Card';

  export default {
    /**
     * The name of the component.
     *
     * @type {String}
     */
    name: 'User',

    /**
     * The imported components.
     *
     * @type {Object}
     */
    components: {
      Card
    },

    /**
     * The properties that can be passed to the component.
     *
     * @type {Object}
     */
    props: {
      userId: {
        type: null,
        required: true,
        default: () => {}
      }
    },

    /**
     * The dynamic properties of the component
     *
     * @type {Object}
     */
    computed: {
      ...mapGetters({
        team: 'getTeam',
        user: 'getUser'
      }),
    }
  }
</script>