<template>
  <div class="col s12 m4">
    <div :class="{
        'card': true,
        'large': true,
        'extra-large': !withLink
      }">
      <div class="card-image">
        <img :src="user.profilePicture">
          <span class="card-title">{{user.firstName + ' ' + user.lastName}}</span>
      </div>

      <div class="card-content">
        <p class="teal-text lighten-2">{{user.type}}</p>

        <p>{{user.biography}}</p>

        <div v-if="!withLink && user.specialities" class="card-content-specs">
          <span class="teal-text lighten-2">Speciality:</span>

          <span
            v-for="(spec, i) in user.specialities"
            :key="spec + i">{{spec}} <span v-if="(i >= 0) && (i !== user.specialities.length -1)">,</span></span>
        </div>
      </div>

      <div v-if="withLink" class="card-action">
        <router-link :to="`/team/${user.lastName}`">View Profile</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    /**
     * The name of the component.
     *
     * @type {String}
     */
    name: 'Card',

    /**
     * The properties that can be passed to the component.
     *
     * @type {Object}
     */
    props: {
      user: {
        type: Object,
        required: true,
        default: () => {}
      },
      withLink: {
        type: null,
        default: () => {}
      }
    }
  }
</script>

<style lang="scss">
  .card.large.extra-large {
    height: 1000px;

    & > .card-image {
      max-height: 85%;
    }
  }

  .card-content-specs {
    margin-top: 10px;
  }
</style>