<template>
  <div id="app">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <ul id="nav-mobile">
          <li>
            <router-link to="/">Home</router-link>
          </li>

          <li>
            <router-link to="/team">My Team</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <router-view/>
  </div>
</template>

<script>
  export default {
      /**
       * The name of the component.
       *
       * @type {String}
       */
      name: 'App'
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
